<app-navigation></app-navigation>
<div class="container-fluid overflow-hidden">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12 gap-5 d-flex flex-column mb-5">
      <div class="row d-flex align-items-center min-vh-100">
        <div class="col">
          <app-title></app-title>
        </div>
      </div>

      <div #fade
           id="about"
           class="row d-flex content-block">
        <div class="col">
          <app-about></app-about>
        </div>
      </div>

      <div #fade
           id="experience"
           class="row d-flex content-block">
        <div class="col">
          <app-work></app-work>
        </div>
      </div>

      <div #fade
           id="work"
           class="row d-flex content-block">
        <div class="col">
          <app-projects></app-projects>
        </div>
      </div>

      <div #fade
           id="contact"
           class="row d-flex content-block">
        <div class="col">
          <app-contact></app-contact>
          <app-links></app-links>
        </div>
      </div>

    </div>
  </div>
</div>