<app-navigation></app-navigation>
<div class="container-fluid overflow-hidden">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12 gap-5 d-flex flex-column mb-5">

      <div class="row d-flex align-items-center min-vh-100">
        <div class="col">
          <app-title></app-title>
        </div>
      </div>

      <section #fade id="about" class="row d-flex content-block">
        <div class="col">
          <app-about></app-about>
        </div>
      </section>

      <section #fade id="experience" class="row d-flex content-block">
        <div class="col">
          <app-work></app-work>
        </div>
      </section>

      <section #fade id="posts" class="row d-flex content-block">
        <div class="col">
          <app-posts></app-posts>
        </div>
      </section>

      <section #fade id="work" class="row d-flex content-block">
        <div class="col">
          <app-projects></app-projects>
        </div>
      </section>

      <section #fade id="contact" class="row d-flex content-block">
        <div class="col">
          <app-contact></app-contact>
          <app-links></app-links>
        </div>
      </section>

    </div>
  </div>
</div>
