<div>
  <h3>About me</h3>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p>
        Hello! My name is Jakub and i enjoy creating meaningful things. I am a
        full-stack engineer, which means that i can do a little bit of
        everything. I know how to develop, test, deploy and maintain all kinds
        of application solutions.
      </p>
      <p>
        Even though i spend most of my time developing frontend for the web, i
        have some experience with almost every level of sotware engineering, all
        the way down to some projects in low level assemly language.
      </p>
      <div class="row">
        <div class="col-sm-6">
          <ul class="mb-0">
            <li>TypeScript</li>
            <li>Python</li>
            <li>Java</li>
            <li>SQL</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="mb-0">
            <li>C#</li>
            <li>C++</li>
            <li>PHP</li>
            <li>HTML5</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-8 mt-5 mt-md-0">
      <div class="px-3 d-flex justify-content-center">
          <img class='w-100' src="assets/profile2.jpg" />
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg">
  <filter id="svgSharpen">
    <feConvolveMatrix
      order="3 3"
      preserveAlpha="true"
      divisor="1"
      bias="0.85"
      kernelMatrix="-1,-1,-1 -1,9,-1 -1,-1,-1"
    />
  </filter>
</svg>
<svg xmlns="http://www.w3.org/2000/svg">
  <filter id="svgThreshold">
    <feComponentTransfer>
      <feFuncR
        type="discrete"
        tableValues=" 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1"
      />
      <feFuncG
        type="discrete"
        tableValues=" 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1"
      />
      <feFuncB
        type="discrete"
        tableValues=" 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1"
      />
    </feComponentTransfer>
  </filter>
</svg>
