.img-container {
  position: relative;
  margin: 1rem;
  top: -0.5rem;
  left: -0.5rem;
  .img-border {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid black;
    top: 1rem;
    left: 1rem;
    z-index: -1;
    border-radius: 0.2rem;
  }
  img {
  transition: 0.2s;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    border-radius: 0.2rem;

    &:hover {
      transition: 0.2s;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }

    &:hover ~ .img-border {
      transition: 0.5s;
      top: 0.5rem;
      left: 0.5rem;
    }
  }
}
