<div class="row">
  <div class="col-12">
    <h3>Where I've Worked</h3>
    <div class="row">
      <div class="d-flex flex-row col-12 col-md-auto flex-md-column menu">
        @for (job of jobs; track $index) {
          <button (click)="selectJob($index)" [class.selected]="selectedJob === $index">
            {{ job.company }}
          </button>
        }
      </div>

      <div class="col-12 col-md job-content px-4"
           [class.anim-mask-v]="isAnimating && animVertical"
           [class.anim-mask-h]="isAnimating && !animVertical">
        <div class="job-sizer">
          @for (job of jobs; track $index) {
            <div class="job-ghost" aria-hidden="true">
              <h4>{{ job.title }}</h4>
              <p>{{ job.period }}</p>
              @for (para of job.paragraphs; track $index) {
                <p>{{ para }}</p>
              }
            </div>
          }
          <div [class]="animClass">
            <h4>{{ jobs[selectedJob].title }}</h4>
            <p>{{ jobs[selectedJob].period }}</p>
            @for (para of jobs[selectedJob].paragraphs; track $index) {
              <p>{{ para }}</p>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
