.text-block {
  @media (min-width: 576px) {
    filter: brightness(95%);
    background-color: white;
    font-size: 90%;
    border-radius: 0.2rem;
  }
}

.full-block {
  @media (min-width: 576px) {
    filter: none;
    background-color: unset;
  }
  filter: brightness(95%);
  background-color: white;
  border-radius: 0.2rem;
}

.project-image {
  @media (min-width: 576px) {
    opacity: 80%;
    border-radius: 0.2rem;
    max-height: 100%;
    max-width: 40% !important;
  }
  overflow: hidden;
  opacity: 30%;
  position: absolute;
  z-index: -1;
  max-width: unset;
}

h5 {
  margin-bottom: 10px;
}

div {
  text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white,
    0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}
