<div class="row d-flex justify-content-center">
  <div class="col-md-12">
    <h3>Some Things I’ve Built</h3>
    <div class="row">
      <div class="d-flex flex-column position-relative mw-100">
        <div class="d-flex justify-content-end">
          <p>Feature Project</p>
        </div>
        <div class="d-flex justify-content-end">
          <p>Wordpress Plugin for video playback</p>
        </div>
        <div class="d-flex justify-content-end">
          <div class="col-8 text-block p-4 float-right">
            This plugin allows user to easily create playlists of videos from
            editor and embed the result into their own Wordpress website.
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="m-3">PHP</div>
          <div class="m-3">WordPress</div>
          <div class="m-3">JavaScript</div>
          <div class="my-3 ml-3">SQL</div>
        </div>
        <img
          src="../../../assets/img/project01.PNG"
          class="project-image mw-100"
        />
      </div>
    </div>
  </div>
</div>
