@use '../../../fluid-type' as ft;

h1 {
  font-weight: 700;
  @include ft.fluid-type(ft.$min_width * 0.5, ft.$max_width * 2, 32px, 400px);
}

h2 {
  font-weight: 600;
  @include ft.fluid-type(ft.$min_width * 0.5, ft.$max_width * 2, 32px, 400px);
  color: var(--fg-muted);
}

.top_text {
  font-size: 120%;
  color: var(--fg-muted);
}
