@use '../../../fluid-type' as ft;

h1 {
  font-weight: 700;
  @include ft.fluid-type(ft.$min_width * 0.5, ft.$max_width * 2, 32px, 400px);
}

h2 {
  font-weight: 600;
  @include ft.fluid-type(ft.$min_width * 0.5, ft.$max_width * 2, 32px, 400px);
}

.top_text {
  font-size: 120%;
}

@keyframes titleFadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes titleSwipeIn {
  from { transform: translateX(1000%); }
  to   { transform: translateX(0); }
}

.anim-load1  { animation: titleFadeIn  500ms          ease-in  both; }
.anim-load2  { animation: titleFadeIn  500ms  1000ms  ease-in  both; }
.anim-swipe1 { animation: titleSwipeIn 2000ms  800ms  ease-out both; }
.anim-swipe2 { animation: titleSwipeIn 2000ms 1200ms  ease-out both; }
.anim-load3  { animation: titleFadeIn  500ms  2000ms  ease-in  both; }
.anim-load4  { animation: titleFadeIn  500ms  3000ms  ease-in  both; }

:host { display: block; }
