$background-color: #282A2E;
$mono-1-color: #9CA4B5;
$mono-2-color: #80848C;
$mono-3-color: #5C5F66;

$cyan-color: #4A858C;
$blue-color: #1E6AA8;
$purple-color: #9344AB;
$green-color: #7B9E62;
$red-1-color: #A63A67;
$red-2-color: #824944;
$orange-1-color: #9C7048;
$orange-2-color: #B0873A;